


.section {
    background-color: #fff; 
    padding: 40px 0;
    text-align: center;
}

.about-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.about-text {
    flex-basis: 60%; 
    text-align: left;
}

.about-image {
    flex-basis: 30%; 
    text-align: right; 
}

.about-image img {
    max-width: 100%; 
    height: auto; 
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

#fvz {
    border-radius: 80px;
}
.cv-link {
    display: inline-block;
    background-color: #0467DB;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.cv-link:hover {
    background-color: #023B60;
}


.about-text audio {
    margin-top: 20px;
    width: 100%;
    background-color: #0467DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.about-text audio::-webkit-media-controls {
    background-color: #0467DB;
}

.about-text audio::-webkit-media-controls-progress-bar {
    background-color: #023B60;
}

